<style>
        .navbar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #fafafa;
      padding: 18px 24px;
      min-height: 40px;
      max-height: 40px;
      margin: 0px;
      box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    }
    .navbar > .app-title{
      font-weight: 500;
      font-size: 1rem;
      letter-spacing: 1px;
    }
    .navbar a {
      color: rgba(23, 23, 23, 0.712);
    }
    .navbar > .connect-wallet-btn{
      font-size: 1rem;
      display: flex;
      color: rgba(23, 23, 23, 0.739);
      padding: 12px;
      margin: 0px;
      transition: all 0.3s ease-in-out;
    }
    .navbar > .connect-wallet-btn > div{
      margin: 0px;
    }
    .navbar > .connect-wallet-btn > div > svg{
      height: 20px;
      margin-left: 6px;
    }
    .navbar > .connect-wallet-btn:hover{
      cursor: pointer;
      color: rgba(0, 0, 0, 0.855);
    }

    .connect-wallet-container {
      background-color: #fafafa;
      margin: 24px;
      padding: 24px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
      border-radius: 12px;
      color: rgba(5, 5, 5, 0.657);
      width: 50vw;
      position: absolute;
      top: calc(50vh - 60px);
      left: 50vw;
      transform: translate(-50%, -50%);
    }
    .connect-wallet {
      display: flex;
    }
    .connect-wallet > input {
      font-size: 1.1rem;
      padding: 12px;
      border-radius: 12px;
      border: 1px solid gray;
      flex-grow: 1;
    }
    .connect-wallet > button {
      margin-left: 12px;
      border-radius: 8px;
      padding: 12px 24px;
      border: 2px solid rgb(212,73,134);
      background: white;
      transition: all 0.2s ease-in-out;
      color: rgb(212,73,134);
      font-size: 1.2rem;
    }
    .connect-wallet > button:hover{
      cursor: pointer;
      background: rgb(212,73,134);
      color: white;
    }
  
  </style>
  
  <!-- Toolbar -->
  <div class="navbar">
    <div class="app-title">
      <a routerLink = ''>CrowdNFT</a>
    </div>
  
    <div class="connect-wallet-btn" routerLink = "connect-wallet">
      <div>
          Connect
      </div>
      <div>
        <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V192c0-35.3-28.7-64-64-64H80c-8.8 0-16-7.2-16-16s7.2-16 16-16H448c17.7 0 32-14.3 32-32s-14.3-32-32-32H64zM416 272a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
  <div class="connect-wallet-container" >
    <h1>Connect your wallet</h1>
    <div class="connect-wallet" >
      <input placeholder="Wallet address" type="text" name="" d="" />
      <button>Connect</button>
    </div>
  </div>
