/* Welcome message */

.nft-feed-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  padding: 24px;
  justify-content: center;
}

.github-link{
  color: rgba(0, 0, 0, 0.636);
  position: fixed;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 24px;
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.093);
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}

.feed-load-more-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}
.feed-load-more-container > div{
  background-color: white;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
  border: 1px solid rgba(0, 0, 0, 0.093);
  transition: all 0.2s ease-in-out;
}
.feed-load-more-container > div > span{
  font-size: 2rem;
}

.feed-load-more-container > div:hover{
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  cursor: pointer;
}

.feed-load-more-container > div.no-more-nfts {
  background-color: transparent;
  text-align: center;
  box-shadow: none;
  border: none;
}
.feed-load-more-container > div.no-more-nfts:hover{
  cursor: default;
  box-shadow: none;
  transform: none;
}




/* Feed Menu Bar */

.feed-menu-bar{
  background-color: white;
  padding: 24px;
  margin: 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.154);
  color: rgba(0, 0, 0, 0.733);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 9px, rgba(0, 0, 0, 0.22) 0px 4px 3px;
}

.sort-by-container{
  background-color: green;
  padding: 12px;
}



.loading-feed-nfts {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.loading-feed-nfts:after {
  border-radius: 50%;
  border: 2px solid rgb(212,73,134);
  border-color: rgb(212,73,134) transparent rgb(212,73,134) transparent;
  animation: loading-feed-nfts 0.7s linear infinite;
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 2px;
}
@keyframes loading-feed-nfts {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}